{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("google_element");
        }
    </script>
    <title> Fight Famishment</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="static/images/food bowl.png" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href=" {% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' &}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="container-fluid  px-0  pt-1  bg-dark wow fadeIn" data-wow-delay="0.1s" id= "google_element">
        <nav class="navbar navbar-expand-lg navbar-warning py-lg-0 px-lg-5 wow fadeIn navbar-fixed" data-wow-delay="0.1s">
            <a href="/" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold m-0 "><span style="color: #ff0f87;">Fight</span><span class="text-white">Famishment</span></h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="/" class="nav-item nav-link ">Home</a>
                    <a href="about" class="nav-item nav-link ">About</a>
                    <a href="features.html" class="nav-item nav-link active">Features</a>
                    <a href="/" class="nav-item nav-link">Get Started</a>
                </div>
            </div>
        </nav>
    </div>



    <div class="container-fluid  px-0  pt-5   wow fadeIn" data-wow-delay="0.1s">
<h1 class="text-center display-5 pt-5 pb-5" style="color: #ff0f87;">WHAT WE DO ?</h1>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-3 py-5">
                  <div class="st-feature pt-4 px-2" style="background-color: #f5f5f5; padding: 3 4 3 4rem; height: 20rem;">
                    <div class="st-feature-icon" style="font-size: 36px; color: #ff0f87;"><i class="fa fa-cog"></i></div>
                    <strong class="st-feature-title" style="color: #333;">
                      BMI Calculation and Assessment:
                    </strong>
                    <p style="color: #666;">
                      Accurately calculate the BMI (Body Mass Index) of children under 5 and assess their nutritional health based on entered biological details.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 py-5">
                  <div class="st-feature pt-4 px-2" style="background-color: #f5f5f5; padding: 3 4 3 4rem; height: 20rem;">
                    <div class="st-feature-icon" style="font-size: 36px; color: #ff0f87;"><i class="fa fa-university"></i></div>
                    <strong class="st-feature-title" style="color: #333;">
                      Personalized Nutritional Recommendations:
                    </strong>
                    <p style="color: #666;">
                      Provide tailored suggestions for nutritional food items and recipes based on the child's BMI, taking into account the availability and affordability of resources in rural areas.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 py-5">
                  <div class="st-feature pt-4 px-2" style="background-color: #f5f5f5; padding: 3 4 3 4rem; height:20rem;">
                    <div class="st-feature-icon" style="font-size: 36px; color: #ff0f87;"><i class="fas fa-comment"></i></div>
                    <strong class="st-feature-title " style="color: #333;">
                      Natural Alternatives for Improved Health:
                    </strong>
                    <p style="color: #666;">
                      Promote the use of natural alternatives and locally sourced ingredients to meet the nutritional demands of children, focusing on affordability and long-term health benefits.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 py-5">
                  <div class="st-feature pt-4 px-2" style="background-color: #f5f5f5; padding: 3 4 3 4rem; height: 20rem;">
                    <div class="st-feature-icon" style="font-size: 36px; color: #ff0f87;"><i class="fa fa-life-ring"></i></div>
                    <strong class="st-feature-title" style="color: #333;">
                      Targeted Solutions for Malnutrition:
                    </strong>
                    <p style="color: #666;">
                      Target the specific needs of children under 5 to maintain a healthy BMI range and combat malnutrition through practical and feasible recommendations, ensuring better overall health outcomes.
                    </p>
                  </div>
                </div>
              </div>
              
          </div>
          
          













    
   
    









          <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                            <img class="position-absolute  pt-5 pe-5" src="static/images/hunger.png" alt="" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="h-100 pt-5">
                            <h1 class="display-5 mb-5 text-center" style="color: #ff0f87;">
                                We Help combat Malnutrition  </h1>
                            <div class="rounded p-4 mb-4">
                                <p class=" text-dark fs-5  pb-5">
                                We keenly focus on offering affordable and accessible meal plans in order to reduce malnutrition in children. Additionally, providing customised 
                diet plans for the children under five years
                to eradicate the malnutrition especially in rural areas. This helps to 
                 incorporate healthy eating habits in them and provides them with the best possible start in life.
                                    </p>
                            </div>
    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



  

















    <!-- About Start -->
 
    <!-- About End -->



   

   <!-- Footer Start -->
   <div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h1 class="fw-bold text-primary mb-4">Fight<span class="text-white">Famishment</span></h1>
                <p>
                    Fuel your body with healthy choices and leave malnutrition behind.
                </p>

            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Hyderabad, India</p>
                <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="about">About Us</a>
                <a class="btn btn-link" href="/">Home</a>
                <a class="btn btn-link" href="features">Features</a>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Fight Famishment</a>, All Right Reserved.
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/parallax/parallax.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>