<div class="col-3 mt-5" style="background-image: url('static/images/bggg.png');">
    <div class="row pt-5">
        <ul class="custom-bullets">
           
                <div class="col-12 pt-5 mt-5">
                    <li>    <h5 class="lead fw-bold">People served: {{ people_served }}</h5>
                    </li></div>
          
           
                <div class="col-12 pt-5 ">
                    <li>     <h5 class="lead fw-bold">Total calories: {{ calories }}</h5>
                    </li>   </div>
           
            
                <div class="col-12 pt-5 ">
                    <li>   <h5 class="lead fw-bold">Difficulty: {{ difficulty }}</h5>
                    </li>  </div>
           
        </ul>
    </div>
</div>